<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="reset.css" />
		<style>
			body {
				font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial,
					sans-serif;
			}

			img {
				max-width: 100%;
			}

			a:visited {
				color: #444;
			}

			a:link {
				color: #444;
			}

			.bold {
				font-weight: bold;
			}

			.no-bullets {
				list-style: none;
				padding: 0;
			}

			.page-wrapper {
				min-height: 100vh;
				margin-top: 2rem;
				list-style: none;
				clear: left;
				float: left;
			}

			.page-wrapper > * {
				float: left;
				margin-right: 1rem;
			}

			.information {
				position: sticky;
				top: 0;
			}
		</style>
	</head>

	{% comment %} { "pageTitle": "Interactive pages", "description": "Working
	through interactive pages", "rootPath1": "https://www.theguardian.com",
	"rootPath2": "https://amp.theguardian.com", "pages": [ { "headline": "Test
	Headline", "path": "testPath/test", "key": "testheadline", "date": "Tue 13
	Oct 2020 10.00 BST", "notes": "This one has modification to the body" }, }
	{% endcomment %}

	<body style="padding: 1rem">
		<h1>{{ pageTitle }}</h1>
		<p>{{ description }}</p>
		<ul>
			{% for page in pages %}
			<li class="page-wrapper">
				<div class="image-container-1">
					<img width="400" src="img/{{ page.key }}-1.png" alt="" />
				</div>
				<div class="image-container-2">
					<img width="400" src="img/{{ page.key }}-2.png" alt="" />
				</div>
				<div class="information">
					<h2>{{ page.headline }}</h2>
					<p>{{ page.notes }}</p>
					<ul class="no-bullets">
						<li>
							Path 1:
							<a href="{{ rootPath1 }}/{{ page.path }}"
								>{{ rootPath1 }}/{{ page.path }}</a
							>
						</li>
						<li>
							Path 2:
							<a href="{{ rootPath2 }}/{{ page.path }}"
								>{{ rootPath2 }}/{{ page.path }}</a
							>
						</li>
					</ul>
					<p>{{ notes }}</p>
				</div>
			</li>
			{% endfor %}
		</ul>
	</body>
</html>
